/* ============== GRID ========================*/

[class*="col-"] {
    width: 100%;
    padding: 0px;
    float: left;
}
@media (min-width: 993px) {
    /* For desktop: */
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-2-4 {
        width: 20%;
    }
    .col-lg-2-25 {
        width: 18.7425%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
@media (max-width: 992px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-2-4 {
        width: 20%;
    }
    .col-m-2-25 {
        width: 18.7425%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    .col-offset-m-1-5 {
        margin-left: 12.5%;
    }
    .nav {
        a {
            padding: 0 15px;
        }
    }
    .hero {
        .hero_header {
            font-size: $font-medium;
        }
    }
    .gallery {
        figure {
            width: 50%;
            height: 60vh;
            &:last-child {
                display: none;
            }
            .box {
                position: relative;
                min-height: 25%;
                top: 75%;
                background-color: rgba(0, 0, 0, 0.51);
                .first,
                .second {
                    opacity: 1;
                    color: #FFF;
                    transform: translate(-50%, -50%);
                }
                .first {
                    left: 35%;
                }
                .second {
                    right: 35%;
                }
                .first:active,
                .second:active {
                    color: #5d3f3e;
                }
            }
        }
    }
    .people {
        padding: 10vh 0;
        .section {
            &>p {
                padding-top: 10px;
                text-align: center;
                color: $dark-grey
            }
            .img {
                width: 25vw;
                height: 25vw;
                background-color: $dark-grey;
                &>p {
                    opacity: 1;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    /* For mobile: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    /*=================== NAV <767 ===================*/
    .nav {
        height: auto;
        background-color: $primary-color;
        img {
            padding: 10px;
            display: block;
            margin: 0 auto;
        }
        ul {
            float: none;
            li {
                display: block;
                text-align: center;
            }
        }
    }
    /* =================== HERO <767 ============================ */
    .hero {
        .hero_header {
            min-height: calc(5.5em + 30px);
            margin: 0 auto;
            line-height: 1.25em;
            font-size: 1.1em;
            padding: 15px;
            text-align: center;
            float: none;
            position: relative;
            top: 7vh;
        }
        .hero_header-bold {
            font-weight: 600;
        }
    }
    /* ========================= GALLERY <767 ============================*/
    .gallery {
        figure {
            width: 100%;
        }
    }
    /*======================= PEOPLE <767  =================================*/
    .people {
        .section {
            &>p {
                padding-top: 10px;
                text-align: center;
                color: $dark-grey
            }
            .img {
                width: 50vw;
                height: 50vw;
                background-color: #6e7f80;
                &>p {
                    font-size: $font-medium;
                    opacity: 1;
                    font-size: $font-medium;
                }
            }
        }
    }
    /* ================= FOOTER <767 ============================= */
    footer {
        h2 {
            text-align: center;
            margin-top: 3px;
        }
        p {
            text-align: justify;
        }
    }
}