// test text with comment and again
$primary-color: #313332;
$accent-color: #00c6e5;
$basic-grey: #AAA;
$dark-grey: #797979;
$nav-height: 50px;
$font-large: 2.1em;
$font-medium: 1.3em;
$font-small: .8em;
.h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: $font-large;
    padding-bottom: 15px;
}
// one mixin for training only 
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
* {
    box-sizing: border-box;
    margin: 0;
    border: 0px solid black;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* NAV*/

.nav {
    height: $nav-height;
    background-color: $primary-color;
    img {
        padding: 10px;
    }
    ul {
        float: right;
        list-style-type: none;
    }
    li {
        display: inline-block;
        height: 100%;
        &:hover {
            background-color: #3d3f3e;
        }
        &:active {
            background-color: #5d3f3e;
        }
    }
    a {
        color: #FFF;
        line-height: $nav-height;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 0 20px;
    }
}

/* HERO*/

.hero {
    background: $basic-grey url(https://static.pexels.com/photos/38556/office-notes-notepad-entrepreneur-38556-large.jpeg) 0/cover no-repeat;
    height: calc(100vh - #{$nav-height});
    header {
        color: #FFF;
        line-height: 1.45em;
        font-size: $font-large;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 15%;
        max-width: 800px;
        width: 45%;
        min-height: auto;
        padding: 45px;
        float: right;
        text-align: left;
    }
    span {
        display: block;
    }
    .header-thin {
        font-weight: 300;
        font-size: $font-large;
    }
    .header-bold {
        font-weight: 800;
        padding-top: 3px;
    }
}

/*======================= PROFITS ========================================*/

.profits {
    padding: 10vh 0;
    text-align: center;
    color: $primary-color;
    article>h2 {
        padding-bottom: 3px;
        font-weight: 700;
        font-size: $font-large;
    }
    article>i {
        padding-bottom: 20px;
        transition: .4s;
        &:hover {
            color: $accent-color;
        }
    }
    p {
        color: $basic-grey;
        font-size: $font-small;
    }
}

/*======================= WORKS ========================================*/

.works {
    h2 {
        @extend .h2;
        text-align: center;
        color: $primary-color;
    }
    p {
        font-size: $font-small;
        color: $basic-grey;
        padding: 0 12.5% 30px;
    }
}
.gallery {
    figure {
        width: 20%;
        min-height: 35vh;
        float: left;
        color: $basic-grey;
        &:hover>.box {
            background-color: rgba(0, 0, 0, 0.51);
        }
        &:hover .box>.first,
        &:hover .box>.second {
            opacity: 1;
        }
        &:hover .box>.first {
            left: 35%;
        }
        &:hover .box>.second {
            right: 35%;
        }
        .box {
            position: relative;
            transition: 1s;
            min-height: 35vh;
            &>.first,
            &>.second {
                opacity: 0;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &>.first {
                left: 0%;
                transition: left .7s linear, opacity .7s linear;
            }
            &>.second {
                right: 0%;
                transition: right .7s linear, opacity .7s linear;
            }
            &>.first:hover,
            &>.second:hover {
                color: #DDD;
                cursor: pointer;
            }
        }
    }
    // gallery box jest wewnatrz figury
    .photo1 {
        background: $basic-grey url(https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers-large.jpg) 0/cover no-repeat;
    }
    .photo2 {
        background: $basic-grey url(https://static.pexels.com/photos/12573/photo-1443453489887-98f56bc5bb38-large.jpeg) 0/cover no-repeat;
    }
    .photo3 {
        background: $basic-grey url(https://static.pexels.com/photos/7306/pexels-photo-large.jpeg) 0/cover no-repeat;
    }
    .photo4 {
        background: $basic-grey url(https://static.pexels.com/photos/28221/pexels-photo-28221-large.jpg) 0/cover no-repeat;
    }
    .photo5 {
        background: $basic-grey url(https://static.pexels.com/photos/38556/office-notes-notepad-entrepreneur-38556-large.jpeg) 0/cover no-repeat;
    }
    .photo6 {
        background: $basic-grey url(https://static.pexels.com/photos/5117/people-feet-train-travelling-large.jpeg) 0/cover no-repeat;
    }
    .photo7 {
        background: $basic-grey url(https://static.pexels.com/photos/38556/office-notes-notepad-entrepreneur-38556-large.jpeg) 0/cover no-repeat;
    }
    .photo8 {
        background: $basic-grey url(https://static.pexels.com/photos/5117/people-feet-train-travelling-large.jpeg) 0/cover no-repeat;
    }
    .photo9 {
        background: $basic-grey url(https://static.pexels.com/photos/7306/pexels-photo-large.jpeg) 0/cover no-repeat;
    }
    .photo10 {
        background: $basic-grey url(https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers-large.jpg) 0/cover no-repeat;
    }
}

/*======================= PEOPLE =================================*/

.people {
    padding: 10vh 0;
    .section {
        position: relative;
        &>p {
            padding-top: 10px;
            text-align: center;
            color: $dark-grey;
        }
        .img {
            position: relative;
            width: 20vw;
            height: 20vw;
            margin: 0 auto;
            background-color: #f0f0f0;
            background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
            @include border-radius(25%);
            transition: background-color .5s;
            &>p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .5s;
                color: #FFF;
                font-size: 1.5em;
            }
            &:hover>p {
                opacity: 1;
            }
            &:hover {
                background-color: $dark-grey
            }
        }
    }
}

/* ===========  PROMOTION  ===================*/

.promotion {
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 0;
    background-color: $dark-grey;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    color: #FFF;
    figure {
        padding: 0;
        border-top: 5px solid $primary-color;
        border-left: 5px solid $primary-color;
        border-right: 5px solid $primary-color;
        border-radius: 5px;
    }
    .promotion_section {
        .photo {
            min-height: 98.5px;
            float: left;
            color: $dark-grey;
            padding: 0;
        }
        .photo-1 {
            background: $basic-grey url(https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers-large.jpg) 0/cover no-repeat;
        }
        .photo-2 {
            background: $basic-grey url(https://static.pexels.com/photos/12573/photo-1443453489887-98f56bc5bb38-large.jpeg) 0/cover no-repeat;
        }
        .photo-3 {
            background: $basic-grey url(https://static.pexels.com/photos/7306/pexels-photo-large.jpeg) 0/cover no-repeat;
        }
        & p {
            text-align: left;
            padding: 0 5px;
            font-size: 0.9em;
            font-weight: 300;
        }
        & h2 {
            text-transform: uppercase;
            font-weight: 800;
            font-size: $font-large;
            padding-bottom: 15px;
        }
        .italic {
            font-style: italic;
        }
    }
    .left-padding {
        padding-left: 2%;
    }
}

/*=============== NUMBERS ====================*/

.numbers {
    padding: 15vh 0;
    section {
        text-align: center;
    }
    h2 {
        @extend .h2;
        color: $primary-color;
    }
    p {
        color: #00c6e5;
        text-transform: uppercase;
        font-weight: 500;
    }
}

/*=============== Footer =====================*/

footer {
    padding: 5vh;
    color: #FFF;
    background-color: $primary-color;
    .footer_section {
        padding: 0 10px;
        h2 {
            font-weight: 800;
            font-size: 1.2em;
            text-transform: uppercase;
        }
        .footer_header {
            margin-bottom: 10px;
        }
        .footer_header-address {
            font-style: normal;
        }
        .text {
            font-style: normal;
            text-align: left;
            font-size: $font-small;
            font-weight: 300;
        }
        .text-bold {
            font-weight: 600;
        }
        .social {
            margin-top: 10px;
        }
        .social_block {
            float: left;
            position: relative;
            width: 40px;
            min-height: 40px;
            background-color: #00c6e5;
            color: #FFF;
            margin: 0 2px;
        }
        .social_block i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.copyright {
    background-color: #242625;
    color: #FFF;
    text-align: center;
    & p {
        padding: 2.5vh 0;
    }
}
@import 'media';